@page "/"
@using Newtonsoft.Json
@using SharpRepoBackendProg.Service
@using System.Diagnostics
@using SharpSetupProg21Private.AAPublic.Models
@rendermode InteractiveServer
@inject BackendService backendService

    <!--<PageTitle>Home 2</PageTitle>-->

<div>
    <input type="button" value="<" />
    <input type="button" value=">" />
</div>

<div>
    <input type="button" value="Go" @onclick="OnGoBtnClicked" /> <!--@onchange="OnClick01" -->
    Repo<input type="text"  @bind="repoName"/>
    Loca<input type="text"  @bind="locaName"/>
</div>

<div>
    Name: <textarea style="width: 550px; height: 30px;">@name</textarea>
</div>

<div>
    <textarea style="width: 600px; height: 1200px;">@body</textarea>
</div>

@code {
    private string name;
    private string body;

    private string repoName;
    private string locaName;

    protected override async Task OnInitializedAsync()
    {
        repoName = "Notki"; locaName = "";
        var address = (repoName, locaName);
        ReloadItem(address);
    }

    protected async Task ReloadItem((string Repo, string Loca) address)
    {
        var itemJString = GetItem(address);
        var itemObj = JsonConvert.DeserializeObject<ItemModel2>(itemJString);

        name = itemObj.Name;
        body = itemObj.Body.ToString();
    }

    public void OnGoBtnClicked()
    {
        var address = (repoName, locaName);
        ReloadItem(address);
    }

    public string GetItem((string Repo, string Loca) address)
    {
        var itemJson = backendService.CommandApi("GetItem", address.Repo, address.Loca);
        return itemJson;
    }
}