@page "/"
@using BlazorInterAutoProj.Components.Editor
@using Newtonsoft.Json
@using SharpFileServiceProg.Service
@using SharpRepoBackendProg.Service
@using System.Diagnostics
@using SharpSetupProg21Private.AAPublic.Models

@inject BackendService backendService
@inject IFileService fileService

@rendermode InteractiveServer

    <!--<PageTitle>Home 2</PageTitle>-->

<div>
    <input type="button" value="<" @onclick="OnBackArrowBtnClicked" />
</div>

<div>
    <input type="button" value="Go" @onclick="OnGoBtnClicked" /> <!--@onchange="OnClick01" -->
    Repo<input type="text" @bind="formRepoName" />
    Loca<input type="text" @bind="formLocaName" />
</div>

<div>
    Name: <textarea style="width: 550px; height: 30px;">@item?.Name</textarea>
</div>

<div>
    @if (item?.Type == "Text")
    {
        <textarea style="width: 600px; height: 1200px;">@item?.Body.ToString()</textarea>
    }
    @if (item?.Type == "Folder")
    {
        <Folder Item=@item ReloadItem=@ReloadItem></Folder>
    }
</div>

@code {
    private ItemModel2 item;

    private string formRepoName;
    private string formLocaName;

    public Home()
    {
        item = new ItemModel2() { Address = "Notki" };
    }

    protected override async Task OnInitializedAsync()
    {
        var adrTuple = fileService.RepoAddress
             .CreateAddressFromString(item.Address);
        ReloadItem(adrTuple);
    }

    protected async Task ReloadItem((string Repo, string Loca) address)
    {
        var itemJString = GetItem(address);
        var itemObj = JsonConvert.DeserializeObject<ItemModel2>(itemJString);
        item = itemObj;
    }

    protected async Task ReloadItem(ItemModel2 item)
    {
        this.item = item;
        var adrTuple = fileService.RepoAddress
             .CreateAddressFromString(item.Address);
        formRepoName = adrTuple.Item1;
        formLocaName = adrTuple.Item2;
    }

    public void OnGoBtnClicked(MouseEventArgs e)
    {
        var address = (formRepoName, formLocaName);
        ReloadItem(address);
    }

    public string GetItem((string Repo, string Loca) address)
    {
        var itemJson = backendService.CommandApi("GetItem", address.Repo, address.Loca);
        return itemJson;
    }

    private async Task OnBackArrowBtnClicked(MouseEventArgs e)
    {
        var newAddress = fileService.RepoAddress
             .MoveOneLocaBack(item.Address);
        var newAdrTuple = fileService.RepoAddress
             .CreateAddressFromString(item.Address);
        ReloadItem(newAdrTuple);
    }
}
