@page "/"
@using SharpRepoBackendProg.Service
@using System.Diagnostics
@using using Newtonsoft.Json
@rendermode InteractiveServer
@inject BackendService backendService

    <!--<PageTitle>Home 2</PageTitle>-->

<div>
    <input type="button" value="<" />
    <input type="button" value=">" />
</div>

<div>
    <input type="button" value="Go" @onclick="OnClick01" @onchange="OnClick01" />
    <button @onclick="OnClick01">Go</button>
    <input type="text" name="CompanyName" value="" />
    <textarea>@GetText()</textarea>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var repo = "Notki";
        var loca = "";
        var type = backendService.RepoApi("GetItemType", repo, loca);
        var s1 = backendService.CommandApi("OpenFolder", repo, loca);

    // var type = backendService.RepoApi("GetItemType", defaultRepo.Item1, defaultRepo.Item2);
    // OpenContent,
    // OpenFolder
    }

    public void OnClick01()
    {
        Debug.WriteLine($"OnClick01!!!!");
    }

    public string GetText()
    {
        var repo = "Notki";
        var loca = "02";
        var itemJson = backendService.CommandApi("GetItem", repo, loca);
        var nameObj = Json.Deserialize(itemJson);
        return "";
    }
}